
/* codice generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    background-image: url(../img/elden_ring.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADER */
header{
    text-align: end;
    padding: 40px;
}

h1{
    padding-bottom: 30px;
}

/* bottone e selettore difficoltà */
.start_game, #difficulty{
    padding: 10px 20px;
}




/* MAIN */
main{
    display: flex;
    justify-content: center;
    position: relative;
}

/* grandezza della griglia */
.grid{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    border: 1px solid black;
    display: none;
}

/* end game */
.end_game{
    width: 500px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    font-weight: bold;
    display: none;
}

/* bacground della scritta */
.end_game.lose, .end_game.win{
    background-color: hsla(0, 4%, 16%, 0.361);
    text-shadow: 1px 1px 2px black, 0px 0px 74px black, 0px 1px 70px black;
}

.end_game.lose h2, footer h2{
    color: brown;
}

.end_game.win h2{
    color: yellow;
}

/* titolo della fine del gioco */
h2{
    width: 100%;
    text-align: center;
    background-color: #0000008a;
    box-shadow: 3px 0px 25px black;
    font-weight: lighter;
}

/* al click del bottone si mostra la griglia */
.show{
    display: flex;
}

/* grandezza delle box */
.box{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
}

/* click della box */
.bomb_clicked{
    background-color: red;
}

/* immagine che compare quando clicca sulla bomba */
.bomb_clicked img, .safe img{
    width: 100%;
    height: 100%;
}




/* FOOTER */
footer{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
